<form action="/register" method="post">
  <input type="text" name="username" />
  <input type="text" name="email" />
  <input type="text" name="password" />
  <input type="submit" value="Register" />
  <br />
  <span>if you have an account <a href="login">login here</a></span>
</form>
